<style>
.title{
  font-weight: bold;
  text-shadow: 2px 2px;
}
 .rounded{
   width: 63%;
 }
img{
  width: 70%;
}

</style>
<h1  class="text-center title" ><%= @article.title%></h1>
<div class="container">
<center>
<div class="rounded">
<p ><%= image_tag @article.image if @article.image.attached? %></p>
</div>
<h5> <%= @article.content%></h5>
<h6>Source: <%= @article.source%></h6>
<h6>Date: <%= @article.date.strftime("%Y-%m-%d")%></h6>
</div>
</center>
